.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 348px 0 348px;
  padding: 2% 0 2% 0;
}

@media screen and (max-width: 1400px) {
  .nav-container {
    margin: 0 15% 0 15%;
    padding: 2% 0 2% 0;
  }
}
