.nav-container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  flex-direction: row;
  margin: 0% 0% 0% 0%;
  padding: 1% 0 1% 0;
}

.lac-logo {
  max-width: 30%;
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .nav-container {
    column-gap: 1%;
  }
}

@media screen and (max-width: 500px) {
  .nav-container {
    justify-content: left;
    margin: 0% 0% 0% 1%;
  }
}

@media screen and (max-width: 400) {
  .nav-container {
    column-gap: 0%;
  }
}
