.colored-tag-container {
  position: relative;
  height: 3.5rem;
  display: inline-block;
  width: 200px;
}

.over-square {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  width: inherit;
}

.over-square div {
  font-family: 'Syne', sans-serif;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: inherit;
  text-align: center;
}

.under-square {
  position: absolute;
  background-color: #41aae6;
  top: 6px;
  left: 8px;
  width: inherit;
}

.under-square div {
  font-family: 'Syne', sans-serif;
  font-size: 1.5rem;
  color: #41aae6;
  padding: 0.5rem;
  width: inherit;
}

@media screen and (max-width: 1250px) {
  .colored-tag-container {
    width: 170px;
    height: 3.0rem;
  }
  .over-square div {
    font-size: 1.2rem;
  }
  .under-square div {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 750px) {
  .colored-tag-container {
    width: 140px;
    height: 2.5rem;
  }
  .over-square div {
    font-size: 1.0rem;
  }
  .under-square div {
    font-size: 1.0rem;
  }
}

@media screen and (max-width: 500px) {
  .colored-tag-container {
    width: 110px;
  }
  .over-square div {
    font-size: 0.8rem;
  }
  .under-square div {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  .colored-tag-container {
    width: 80px;
  }
  .over-square div {
    font-size: 0.6rem;
  }
  .under-square div {
    font-size: 0.6rem;
  }
}
