.invite-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.reviewer-label {
    margin: 1%;
}

.invite-btn {
    margin: 1%;
}

.primary-row {
    display: flex;
    flex-direction: row;
}

.doneIcon {
    color: green;
}