#loginButton {
    background-color: rgba(30, 152, 215, 1);
}

#logoutButton {
    margin-left: 0.5%;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#loginInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
}

#resubmitInfo {
    margin-left: 0.5%;
}

@media screen and (max-width: 1200px) {
    #loginInfo {
        margin-right: 1%;
    }
}

@media screen and (max-width: 750px) {
    #loginInfo {
        margin-right: 2%;
    }
}
