#loginButton {
    background-color: rgba(30, 152, 215, 1);
}

#logoutButton {
    margin-left: 1%;
}

#login {
    display: flex;
    flex-direction: row;
}

#loginInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    width: fit-content;
}
