.value-group-separator {
  height: 1px;
  width: 180px;
  background-color: black;
  border: none;
  margin: 6px 0 12px 0;
  padding: 0;
}

.value-group-content {
  font-family: 'Yaldevi', sans-serif;
  font-size: 1.2rem;
  width: 20vw;
}

.value-group-paragraph-container {
  width: 25vw;
}

.value-group-title {
  font-family: 'Syne', sans-serif;
  font-size: 1.5rem;
  max-lines: 2;
}
