#articles {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#results-text {
    padding: 1% 3% 1%;
    width: max-content;
}

#articles-results {
    width: 90%;
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}