#addCaseRectangle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

#filter-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1%;
    height: fit-content;
    margin : 2.8% 1% 1%;
}

#filter-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
}

#rows {
    flex-direction: row;
    display: flex;
}

#rectangle {
    width: 100%;
    padding: 0.5% 1%;
    flex-direction: row;
    display: flex;
    gap:0%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

#search-bar {
    margin: 1% 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchField {
    width: 250px;

    #searchBar {
        width: 100%;
    } 
}

.filter-form-container {
    padding-top: 4%;
    display: flex;
    flex-direction: row;
}

.filter-form-control {
    width: 100%;
}

#label-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    #rows {
        flex-direction: column;
    }

    #filter-card {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 2%;
        width: 90%;
    }

    .filter-form-container {
        padding-top: 2%;
        width: 45%;
    }

    .filter-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 5%;
    }

    #catalogue-title {
        font-size: 1rem;
    }

    #rectangle {
        gap: 0%;
    }

}

@media screen and (max-width: 600px) {
    #rows {
        flex-direction: column;
    }

    #filter-card {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .filter-form-container {
        padding-top: 5%;
        width: 90%;
    }

    .filter-list {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

}
  
  