#addCaseRectangle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

#filter-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1%;
    height: fit-content;
    margin : 2.8% 1% 1%;
}

#filter-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
}

#rows {
    flex-direction: row;
    display: flex;
}

#rectangle {
    width: 100%;
    padding: 0.5% 1%;
    flex-direction: row;
    display: flex;
    gap:15%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

#search-bar {
    margin: 1% 0%;
}

#searchField {
    width: 250px;

    #searchBar {
        width: 100%;
    } 
}

.filter-form-container {
    padding-top: 4%;
}

.filter-form-control {
    width: 100%;
}

