#first {
  flex: 1 1 60%;
}

#title{
    width: 80%;
    height: 23px;
    border-bottom: 1px solid #d7d7d7;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
    font-weight: 700;
    color: #0084cf;
    text-align: left;
    line-height: normal;
  }

  #authors {
    width: 80%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    font-weight: bold;
    color: #949494;
    text-align: left;
    line-height: normal;
    font-size:12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
  }

  #viewArticles {
    width: 100%;
    padding: 2px 2px 2px 2px;
    border-bottom: 1px solid #a5a5a5;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
  }

  #preview {
    width: 80%;
    padding: 2px 2px 2px 2px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: #ffffff;
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
  }

  #date{
    width: 80%;
    height: 23px;
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    font-family: "Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-size:11px;
    font-weight: bold;
  }

  #page{
    width: 80%;
    height: 23px;
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    font-family: "Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-size:11px;
    font-weight: bold;
  }

  #tags{
    height: 23px;
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    font-family: "Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-size: 11px;
    font-weight: bold;
  }

  #placement{
    display: flex;
    flex-direction: row;
    place-content: space-between;

      #discipline {
          height: 23px;
          padding: 2px 2px 2px 2px;
          background-color: #ffffff;
          font-family: "Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
          color: #333333;
          text-align: left;
          line-height: normal;
          font-size: 11px;
          font-weight: bold;
        }
  }

  #second{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    div {
      margin: 5px 0;
    }
  }

  #ratings{
    display:flex;
    flex-direction:row ;
  }

  #votes{
    width: 50px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0);

    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-size:11px;
    /* padding-left:10px; */
  }

  #usedClass{
    height: 14px;
    background-color: rgba(255, 255, 255, 0);

    font-family: "Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-size: 12px;
  }

  #name{
    height: 28px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: #333333;
    text-align: left;
    line-height: normal;
    font-size:12px;
  }

  #info{
    height: 21px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    border: 1px dashed #1e98d7;
    background-color: #ffffff;

    font-family: "Roboto-Regular", "Roboto", sans-serif;
    color: #1e98d7;
    text-align: center;
    line-height: normal;
    font-size:10px;
  }