    #main {
        display: flex;
        flex-direction: column;
    }

    #line {
        width: 1121px;
        height: 1px;
        padding: 2px 2px 2px 2px;
        border-top: 1px solid #d7d7d7;
        background-color: #ffffff;
        position:relative;
        top:84px;
        left:111px;
    }

    #top-part {
        width: 1110px;
        height: 237px;
        padding: 2px 2px 2px 2px;
        border-top: 1px solid #d7d7d7;
        background-color: #ffffff;
        box-sizing: border-box;
        position:relative;
        left:152px;
        top:150px;
        display: flex;
        flex-direction: row;
    
    }

    #title {
        position:relative;
        left:15px;
        top:23px;
        width: 876px;
        height: 58px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Roboto-Bold", "Roboto Bold", "Roboto", sans-serif;
        color: #000000;
        text-align: left;
        line-height: normal;
        border-color: transparent;
        font-size:24px;
    }

    #information {
        width: 669px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Roboto-Regular", "Roboto", sans-serif;
        color: #333333;
        text-align: justify;
        line-height: 20px;
        position:relative;
        left:15px;
        font-size:15px;
        /* top:85px; */
    }

    #first{
        position:relative;
        left:30px;
        top:8px;
        width:690px;
      }
    
      #second{
        position:relative;
        left:50px;
        top:67px;
        display: flex;
        flex-direction: column;
        align-items: left;
        /* justify-content: space-between; */
      }