     /* .se-connecter {
        width: 133px;
        height: 29px;
        padding: 2px 2px 2px 2px;
        border-radius: 4px;
        background-color: #1e98d7;
        box-sizing: border-box;
        font-family: "Roboto-Regular", "Roboto", sans-serif;
        color: #ffffff;
        text-align: center;
        line-height: normal;
        border-color: transparent;
        position:relative;
        left: 1036px; 
        top: 35px; 
    }*/

    .consulter {
        width: 113px;
        height: 31px;
        padding: 2px 2px 2px 2px;
        border-radius: 5px;
        background-color: #1e98d7;
        box-sizing: border-box;
        border-color: transparent;
        font-family: "Roboto-Regular", "Roboto", sans-serif;
        color: #ffffff;
        text-align: center;
        line-height: normal;
    }

    .return {
        padding: 2px 2px 2px 2px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        border-color: transparent;
        font-family: "Roboto-Medium", "Roboto Medium", "Roboto", sans-serif;
        font-weight: bold;
        color: #1e98d7;
        text-align: left;
        line-height: normal;
        font-size:15px;
        margin: 10px 0 0 0 !important;
    }

