#approvalPage {
    width: 80%;
    margin: 0% 10%;

    #filterStatus {
        width: 100%;
        text-align: left;
    }

    .stepApproval {
        margin-bottom: 30px;
    }
}

.return {
    position: absolute;
    left: 0;
    top: 0;
}

.title-field {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}