#approvalPage {
    width: 100%;

    #filterStatus {
        width: 100%;
        text-align: left;
    }

    .stepApproval {
        margin-bottom: 30px;
    }
}

.return {
    position: absolute;
    left: 0;
    top: 0;
}

