#dashboard {
    width: 100%;

    #titleDashboard {
        text-align: center;
        padding: 1%;
        width: 100%;
    }

    #casesBarChart {
        display: flex;
        padding-top: 1%;
        padding-left: 10%;
        padding-right: 10%;
        div {
            width: 50%;
            border: 1px solid gray;
            border-radius: 9px;
            margin: 10px;
        }
    }

    #accessCaseStudyBtn {
        width: 30%;
        align-self: center;
        margin: 1% 35% 2%;
    }

    #approvalTeacher {
        padding: 0% 10%;

        #titleApprovalTeacher {
            text-align: center;
            padding: 2%;
            width: 100%;
        }
    }

    
}