.student-banner {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center 17%;
  background-image: url("../../img/students.jpg");
}
.value-paragraphs-container {
  display: inline-grid;
  grid-column-gap: 8%;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  margin: 2% 0;
}

.landing-segment-container {
  display: flex;
  justify-content: center;
}

.landing-segment-column-left {
  display: flex;
  width: 55vw;
  flex-direction: column;
}

h1 {
  font-family: 'Gotu', sans-serif;
  margin-bottom: 1rem;
  display: inline-block;
}

.colored-tag-pair-container {
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  margin-bottom: 3rem;
}

.colored-tag-pair-container div {
  font-size: 1.2rem;
  font-family: 'Yaldevi', sans-serif;
}

.paragraph-font {
  font-size: 1.2rem;
  font-family: 'Yaldevi', sans-serif;
}

.needs-container {
  margin-bottom: 3rem;
}

.item-font {
  font-family: 'Yaldevi', sans-serif;
  font-size: 1.5rem;
  max-width: 40vw;
}

.paragraph-font a {
  text-decoration: none;
  font-weight: bolder;
  color: #C21F39;
}

.paragraph-font a:hover {
  color: #ff4e6d;
}

.bullet-lists-container {
  display: flex;
  column-gap: 8vw;
  flex-direction: row;
}

.all-items-margins {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.item-lists-container {
  display: flex;
  column-gap: 2vw;
  flex-direction: row;
  align-items: center;
}

.bullet-lists-container ul li {
  font-size: 1.2rem;
  text-align: left;
}
