.student-banner {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center 17%;
  background-image: url("../../img/students.jpg");
}
.value-paragraphs-container {
  display: inline-grid;
  grid-column-gap: 8%;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  margin: 2% 0;
}

.landing-segment-container {
  display: flex;
  justify-content: center;
}

.landing-segment-column-left {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Gotu', sans-serif;
  margin-bottom: 0;
  display: inline-block;
}
