.student-banner {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center 17%;
  background-image: url("../../img/students.jpg");
}
.value-paragraphs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 2% 15% 2% 15%;
}
