#newCase {
    width: 100%;
}

#generalCaseInfo {
    display: flex;
    flex-direction: column;

    div {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }
}

#caseLastRow {
    display: flex;

    :first-child {
        margin-right: 10px;
    }
}

.download-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1%;
    padding-top: 1%;
    gap: 1%;
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.criteria-box {
    display: flex;
    flex-direction: row;
}

.radio-form-control {
    margin-left: 1% !important;
    width: 50%;
}

.decision-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1%;
}

.submit-info {
    margin: 1%;
}

.criteria-summary {
    margin: 1%;
}

.review-title {
    margin: 1%;
    padding: 1%;
}

.director-comments {
    margin: 1%;
    padding: 1%;
}

.director-title {
    margin-bottom: 1%;
}

#current-version {
    margin: 1%;
    padding: 1%;
}


