#newCase {
    width: 100%;
}

#generalCaseInfo {
    display: flex;
    flex-direction: column;

    div {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }
}

#caseLastRow {
    display: flex;

    :first-child {
        margin-right: 10px;
    }
}

.criteria-box {
    display: flex;
    flex-direction: row;
}

.radio-form-control {
    margin-left: 5% !important;
}

.decision-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    align-items: flex-end;
}