#newCase {
    width: 60%;
    margin: 0% 20%;
    padding-top: 3%;
}

#generalCaseInfo {
    display: flex;
    flex-direction: column;
}

#documents {
    padding-top: 2%;
}

#feedback {
    padding-top: 2%;
}

#caseLastRow {
    display: flex;

    :first-child {
        margin-right: 10px;
    }
}

.download-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1%;
    padding-top: 1%;
    gap: 1%;
}


.error-outline {
    outline: 1px solid red;
}

