.summaryAspect {
  width: 25%;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
}

#aspect1 {
  background-color: #41aae6;
}

#aspect2 {
  background-color: #8cc83c;
}

#aspect3 {
  background-color: #fa961e;
}

#aspect4 {
  background-color: #b91e32;
}
